@model IEnumerable<ReservaTicket.Models.Usuario>
@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor



<div class="text-center">
    <p>hola</p>
</div>

