@model IEnumerable<ReservaTicket.Models.Usuario>
@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Http




<div class="text-center">
   <div>
       Esto es un espectaculo
        <a asp-controller="Espectaculo" asp-action="Indexeado">
            Da click aqui para ver un espectaculo
        </a>
   </div>
</div>

