@model ReservaTicket.Models.Espectaculo

@{
    ViewData["Title"] = "Create";
}

<h1>Crear un espectáculo</h1>




<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="Create" class="my-4 p-4 border rounded">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="nombreEspectaculo" class="form-group">Nombre del Espectáculo</label>
                <input asp-for="nombreEspectaculo" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="fechaEspectaculo" class="control-label">Fecha del Espectáculo</label>
                <input asp-for="fechaEspectaculo" class="form-control" />
                <span asp-validation-for="fechaEspectaculo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="cantEntradas" class="control-label">Cantidad de Entradas</label>
                <input asp-for="cantEntradas" class="form-control" />
                <span asp-validation-for="cantEntradas" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="descripcionEspectaculo" class="control-label">Descripción del Espectáculo</label>
                <textarea asp-for="descripcionEspectaculo" class="form-control" rows="4"></textarea>
                <span asp-validation-for="descripcionEspectaculo" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-outline-dark flex-shrink-0" >Crear Espectáculo</button>
            </div>
        </form>
    </div>
</div>



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
